<div data-role="header" data-theme="d">
	<h1>New Player</h1>
	
	<a id="new-player-btn" class="ui-btn-right ui-disabled" name="send" data-role="button" data-inline="true" data-theme="a" data-icon="forward">Add</a>
</div><!-- /header -->

<div data-role="content" data-theme="d">
	<form>
		<div data-role="fieldcontain">
			<label for="first-name" class="select">First</label>
			<input type="text" name="first" id="first-name" value="" maxlength="25" data-mini="true" />
		</div>
		<div data-role="fieldcontain">
			<label for="last-name" class="select">Last</label>
			<input type="text" name="last" id="last-name" value="" maxlength="25" data-mini="true" />
		</div>
	</form>
</div><!-- /content -->


